/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  color: rgb(51, 121, 143)
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

:root {
  --transFast: 200ms;
  --transMd: 400ms;
  --transSlow: 1000ms;
}



.route-transition-base {
  /* transition: all var(--transSlow) cubic-bezier(0, 0.1, 0, 1); */
  width: 100%;
  height: 100%;
  position: absolute;
}

.route-transition-enter {
  transform: translateY(-20%);
  opacity: 0;
}
.route-transition-enter-active {
  transform: unset;
  opacity: 1;
  transition: all var(--transSlow) cubic-bezier(0, 0.1, 0, 1);
}
.route-transition-exit-active {
  transform: translateY(20%);
}
.route-transition-exit {
  opacity: 0;
  transform: translateY(100%);
  transition: all var(--transSlow) cubic-bezier(0, 0.1, 0, 1);
}
